.headerTitle {
  float: left;
  position: absolute;
}

.headerTitle h3 {
  position: relative;
  top: -60px;
  left: 95px;
}

.headerTitle h3 span{
color: rgb(200, 50, 35);
font-weight: bold;
}
.logo {
  width: 80px;
  height: auto;
  position: relative;
  top: 10px;
}
